.idea/
*.pyc

data/processed/audio/
data/clean/syllables/wav2vec2_embeddings.pt
*.webm
/models/segment_break_detection/cache
/models/tensors/songs_10ms
/models/tensors/songs_20ms
/models/tensors/songs_40ms
models/tensors/songs.zip
/models/tensors/songs
/models/segment_break_detection/data_cache
/data/clean/segment_breaks
/models/segment_break_detection/breaks
/models/segment_break_detection/labeled_spectrogram_tensors
/models/segment_break_detection/predictions
/tmp
/isolate_vocals/.venv31110

# refactored package
.venv/
artifacts/
runs/
*.egg-info/
__pycache__/
.pytest_cache/
/data
data/unlabeled/
