[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pandas = "<2"
numpy = "<2"
torchvision = "*"
torchaudio = "*"
soundfile = "*"
pydub = "*"
mutagen = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.10"
