[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pandas = "*"
numpy = "*"
torchvision = "*"
torchaudio = "*"
soundfile = "*"
pydub = "*"
mutagen = "*"
transformers = "*"
torchmetrics = "*"
matplotlib = "*"
scikit-learn = "*"
librosa = "*"

[dev-packages]

[requires]
python_version = "3.10"
