[[source]]
url = "https://pypi.x/simple"
verify_ssl = true
name = "pypi"

[packages]
spleeter = "*"
torch = "*"
pandas = "*"
numpy = "*"

[spleeter]
pandas = "1.5.3"

[dev-packages]

[requires]
python_version = "3.10"
