sniffio>=1.1
natsort>=7.0.1
pydantic==1.7.4
termcolor>=2.1.0
cachetools>=5.3.1
onnxruntime
beartype==0.18.5
diffq==0.2.4
einops==0.8.0
julius==0.2.7
librosa==0.10.2.post1
ml_collections==1.0.0
numpy==1.26.4
onnx==1.17.0
onnx2torch==1.5.15
pydub==0.25.1
pyYAML==6.0.2
requests==2.32.3
resampy==0.4.3
rotary-embedding-torch==0.6.5
samplerate==0.1.0
scipy==1.14.1
six==1.16.0
torch==2.5.1
tqdm==4.67.1
